node_modules
.idea
tmp
admin/i18n/flat.txt
admin/i18n/*/flat.txt
iob_npm.done
.vs/
*.tgz


# ioBroker dev-server
.dev-server/
*.tgz

#ignore .commitinfo created by ioBroker release script
.commitinfo

# compiled tests + mocks (emitted next to their .ts sources by test/tsconfig.build.json)
test/*.js
test/lib/*.js
